{% extends 'user/base.html' %} 

{% block title %} 
    Manage of shopping list 
{% endblock %} 

{% block content %}

<h1>Manage of shopping list</h1>
<br/>

<form action="{% url 'manage_list' list_id %}" method=POST>
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {{ form.as_p }}

    <br/>
    <input type="submit"
    value="Add position" class="btn btn-secondary">
</form>
<br/>
{% if products %}
<h3>Total price: <span class="badge bg-secondary"> {{ total_price }} RUB </span></h3>
<br/>
{% for product in products %}
    <ul class="list-group list-group-light list-group-small">
        <li class="list-group-item">{{ product.label }} 
            <span class="badge bg-secondary"> {{ product.price }} RUB </span>
            <a class="btn btn-danger btn-rounded" href="{% url 'delete_product' list_id product.id %}" role="button">Delete</a>
        </li>
    </ul>
    <br/>
{% endfor %}

{% else %}
<p>You don't have any positions in the list yet... To add a position, fill in the fields and click "Add position" button</p>
{% endif %}
{% endblock %}