{% extends 'user/base.html' %} 

{% block title %} 
    Personal area 
{% endblock %} 

{% block content %}

<h1>Personal area of {{ username }}</h1>
<br/>

<form action="{% url 'create_list' %}">
    <input type="submit"
    value="Create shopping list" class="btn btn-secondary">
</form>
<br/>
{% if shopping_lists %}
<!-- <table>
    <thead><th>Label</th><th></th><th>Price</th></thead>
    {% for position in shopping_list %}
    <tr>
        <td>{{ position.label }}</td>
        <th></th>
        <td>{{ position.price }}</td>
        
    </tr>
    {% endfor %}
</table>
<br/>
<h3>Total:</h3> {{ total }} -->
{% for list in shopping_lists %}
    <div class="input-group input-group-lg">
        
        <input type="text" class="form-control" value="{{ list.label }}">
        <input type="submit" value="Choose Action..." class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Manage list</a></li>
            <li><a class="dropdown-item" href="{% url 'delete_list' list.id %}">Delete list</a></li>
          </ul>
    </div>
    <br/>
{% endfor %}

{% else %}
<p>You don't have shopping lists yet... To create a list press the "Create..." button</p>
{% endif %}



{% endblock %}
